In [7]:
# plotting libraries
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

# data analysis libraries
import pandas as pd
import numpy as np

# general imports
from pathlib import Path

# auxiliary functions
import s3ts.analysis as aux

In [8]:
df = aux.load_data(Path("../results_synced/wdw/"))
df

,dataset,arch,repr,pretrain,fold_number,random_state,batch_size,stride_series,window_length,window_time_stride,...,target_test_acc,target_val_f1,target_test_f1,target_val_auroc,target_test_auroc,pre_val_mse,pre_val_r2,pre_best_model,pre_train_csv,pre_nepochs
0,Chinatown,CNN,DF,False,3,0,128,True,5,1,...,0.670414,0.755601,0.670414,0.820577,0.724942,NaN,NaN,NaN,NaN,NaN
1,Chinatown,CNN,DF,True,3,0,128,True,5,1,...,0.648257,0.762118,0.648257,0.836136,0.733235,0.639232,0.436659,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,57.0
2,Chinatown,CNN,DF,False,3,0,128,True,10,1,...,0.695418,0.751733,0.695418,0.820990,0.736563,NaN,NaN,NaN,NaN,NaN
3,Chinatown,CNN,DF,True,3,0,128,True,10,1,...,0.682700,0.765185,0.682700,0.839633,0.741922,1.205644,-1.003424,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,58.0
4,Chinatown,CNN,DF,False,1,0,128,True,5,1,...,0.675464,0.716497,0.675464,0.767214,0.689956,NaN,NaN,NaN,NaN,NaN
5,Chinatown,CNN,DF,True,1,0,128,True,5,1,...,0.642555,0.743381,0.642555,0.776873,0.655473,0.557639,0.548651,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,58.0
6,Chinatown,CNN,DF,False,1,0,128,True,10,1,...,0.611609,0.752956,0.611609,0.786665,0.664085,NaN,NaN,NaN,NaN,NaN
7,Chinatown,CNN,DF,True,1,0,128,True,10,1,...,0.677482,0.763555,0.677482,0.802814,0.694741,0.944619,-0.295066,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,58.0
8,Chinatown,CNN,DF,False,0,0,128,True,5,1,...,0.717498,0.679837,0.717498,0.729200,0.746768,NaN,NaN,NaN,NaN,NaN
9,Chinatown,CNN,DF,True,0,0,128,True,5,1,...,0.704790,0.685132,0.704790,0.724646,0.726914,0.640506,0.392147,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,58.0
10,Chinatown,CNN,DF,False,0,0,128,True,10,1,...,0.694440,0.662454,0.694440,0.703481,0.751947,NaN,NaN,NaN,NaN,NaN
11,Chinatown,CNN,DF,True,0,0,128,True,10,1,...,0.741399,0.679576,0.741399,0.724975,0.760699,1.155887,-0.979179,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,58.0
12,Chinatown,CNN,DF,False,2,0,128,True,5,1,...,0.652656,0.762118,0.652656,0.803826,0.748987,NaN,NaN,NaN,NaN,NaN
13,Chinatown,CNN,DF,True,2,0,128,True,5,1,...,0.701369,0.767413,0.701369,0.804674,0.745035,0.610371,0.447972,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,58.0
14,Chinatown,CNN,DF,False,2,0,128,True,10,1,...,0.736018,0.759886,0.736018,0.802171,0.750331,NaN,NaN,NaN,NaN,NaN
15,Chinatown,CNN,DF,True,2,0,128,True,10,1,...,0.719224,0.767224,0.719224,0.803754,0.741229,0.794793,0.064201,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,59.0

In [9]:
cols = ['tgt_nepochs', 'pre_nepochs', 'target_val_acc', 'target_val_auroc', 'target_test_acc', 'target_test_auroc']
df.columns

Index(['dataset', 'arch', 'repr', 'pretrain', 'fold_number', 'random_state',
       'batch_size', 'stride_series', 'window_length', 'window_time_stride',
       'window_patt_stride', 'train_events_per_class',
       'train_event_multiplier', 'nevents_train', 'pret_event_multiplier',
       'nevents_pret', 'test_event_multiplier', 'nevents_test',
       'tgt_best_model', 'tgt_train_csv', 'tgt_nepochs', 'target_val_acc',
       'target_test_acc', 'target_val_f1', 'target_test_f1',
       'target_val_auroc', 'target_test_auroc', 'pre_val_mse', 'pre_val_r2',
       'pre_best_model', 'pre_train_csv', 'pre_nepochs'],
      dtype='object')

In [10]:
df.groupby(["dataset", "arch", 	"window_length", "pretrain", 'window_time_stride','window_patt_stride'])[cols].mean()

                                                                             tgt_nepochs  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
Chinatown CNN  5             False    1                  1                         70.75
                             True     1                  1                         84.00
               10            False    1                  1                        112.25
                             True     1                  1                         64.50

                                                                             pre_nepochs  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
Chinatown CNN  5             False    1                  1                           NaN
                             True     1                  1                         57.75
               10            False    1                  1                           NaN
                             True     1                  1                         58.25

                                                                             target_val_acc  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
Chinatown CNN  5             False    1                  1                         0.728513
                             True     1                  1                         0.739511
               10            False    1                  1                         0.731757
                             True     1                  1                         0.743885

                                                                             target_val_auroc  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
Chinatown CNN  5             False    1                  1                           0.780204
                             True     1                  1                           0.785582
               10            False    1                  1                           0.778327
                             True     1                  1                           0.792794

                                                                             target_test_acc  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
Chinatown CNN  5             False    1                  1                          0.679008
                             True     1                  1                          0.674242
               10            False    1                  1                          0.684371
                             True     1                  1                          0.705201

                                                                             target_test_auroc
dataset   arch window_length pretrain window_time_stride window_patt_stride
Chinatown CNN  5             False    1                  1                            0.727663
                             True     1                  1                            0.715164
               10            False    1                  1                            0.725731
                             True     1                  1                            0.734648