In [1]:
# plotting libraries
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

# data analysis libraries
import pandas as pd
import numpy as np

# general imports
from pathlib import Path

# auxiliary functions
import s3ts.analysis as aux

In [2]:
df = aux.load_data(Path("../results_synced/wdw/"))
df

,dataset,arch,repr,pretrain,fold_number,random_state,batch_size,stride_series,window_length,window_time_stride,...,target_test_acc,target_val_f1,target_test_f1,target_val_auroc,target_test_auroc,pre_val_mse,pre_val_r2,pre_best_model,pre_train_csv,pre_nepochs
0,GunPoint,CNN,DF,False,1,0,128,True,5,1,...,0.582252,0.549912,0.582252,0.535087,0.602137,NaN,NaN,NaN,NaN,NaN
1,GunPoint,CNN,DF,True,1,0,128,True,5,1,...,0.567771,0.537735,0.567771,0.530858,0.576478,0.949233,0.026386,training/2023-03-29_18-30_EXP_wdw_DF_CNN_GunPo...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_GunPo...,59.0
2,GunPoint,CNN,DF,False,1,0,128,True,10,1,...,0.564276,0.573624,0.564276,0.568472,0.577602,NaN,NaN,NaN,NaN,NaN
3,GunPoint,CNN,DF,False,4,0,128,True,5,1,...,0.533339,0.579280,0.533339,0.575623,0.538718,NaN,NaN,NaN,NaN,NaN
4,GunPoint,CNN,DF,True,4,0,128,True,5,1,...,0.558603,0.619262,0.558603,0.638466,0.576541,0.847217,0.223938,training/2023-03-29_18-30_EXP_wdw_DF_CNN_GunPo...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_GunPo...,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Chinatown,CNN,DF,True,2,0,128,False,5,5,...,0.660020,0.718431,0.660020,0.770740,0.703549,0.779550,0.098184,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,57.0
122,Chinatown,CNN,DF,False,2,0,128,True,5,1,...,0.753992,0.755193,0.753992,0.794141,0.754887,NaN,NaN,NaN,NaN,NaN
123,Chinatown,CNN,DF,True,2,0,128,True,5,1,...,0.724177,0.768228,0.724177,0.793020,0.756052,0.723182,0.225028,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,59.0
124,Chinatown,CNN,DF,False,2,0,128,False,5,1,...,0.710492,0.757638,0.710492,0.800783,0.732157,NaN,NaN,NaN,NaN,NaN
125,Chinatown,CNN,DF,True,2,0,128,False,5,1,...,0.692082,0.756823,0.692082,0.801725,0.739566,1.425979,-2.013107,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,training/2023-03-29_18-30_EXP_wdw_DF_CNN_China...,59.0

In [6]:
cols = ['tgt_nepochs', 'pre_nepochs', 'target_test_acc', 'target_test_auroc']
df.columns

Index(['dataset', 'arch', 'repr', 'pretrain', 'fold_number', 'random_state',
       'batch_size', 'stride_series', 'window_length', 'window_time_stride',
       'window_patt_stride', 'train_events_per_class',
       'train_event_multiplier', 'nevents_train', 'pret_event_multiplier',
       'nevents_pret', 'test_event_multiplier', 'nevents_test',
       'tgt_best_model', 'tgt_train_csv', 'tgt_nepochs', 'target_val_acc',
       'target_test_acc', 'target_val_f1', 'target_test_f1',
       'target_val_auroc', 'target_test_auroc', 'pre_val_mse', 'pre_val_r2',
       'pre_best_model', 'pre_train_csv', 'pre_nepochs'],
      dtype='object')

In [7]:
df.groupby(["dataset", "arch", 	"window_length", "pretrain", 'window_time_stride','window_patt_stride'])[cols].mean()

                                                                             tgt_nepochs  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                         70.60
Chinatown CNN  5             False    1                  1                         77.60
                                                         2                         70.60
                                                         3                         83.25
                                      2                  1                         75.80
                                      3                  1                        102.40
                                      4                  1                         65.60
                                      5                  1                         73.60
                             True     1                  1                         79.80
                                                         2                         94.25
                                                         3                         54.00
                                      2                  1                         94.60
                                      3                  1                         94.30
                                      4                  1                         78.20
                                      5                  1                         71.40
               10            False    1                  1                        109.00
                             True     1                  1                         72.00
               15            False    1                  1                        104.40
                             True     1                  1                         88.60
GunPoint  CNN  5             False    1                  1                         86.80
                             True     1                  1                         73.40
               10            False    1                  1                        105.50

                                                                             pre_nepochs  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                           NaN
Chinatown CNN  5             False    1                  1                           NaN
                                                         2                           NaN
                                                         3                           NaN
                                      2                  1                           NaN
                                      3                  1                           NaN
                                      4                  1                           NaN
                                      5                  1                           NaN
                             True     1                  1                          57.8
                                                         2                          58.5
                                                         3                          59.0
                                      2                  1                          58.7
                                      3                  1                          58.2
                                      4                  1                          58.2
                                      5                  1                          57.8
               10            False    1                  1                           NaN
                             True     1                  1                          58.4
               15            False    1                  1                           NaN
                             True     1                  1                          57.6
GunPoint  CNN  5             False    1                  1                           NaN
                             True     1                  1                          58.2
               10            False    1                  1                           NaN

                                                                             target_test_acc  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                          0.459065
Chinatown CNN  5             False    1                  1                          0.674454
                                                         2                          0.696905
                                                         3                          0.668092
                                      2                  1                          0.706114
                                      3                  1                          0.742134
                                      4                  1                          0.741891
                                      5                  1                          0.731546
                             True     1                  1                          0.674356
                                                         2                          0.669233
                                                         3                          0.669110
                                      2                  1                          0.721246
                                      3                  1                          0.712402
                                      4                  1                          0.701225
                                      5                  1                          0.683884
               10            False    1                  1                          0.694309
                             True     1                  1                          0.703799
               15            False    1                  1                          0.717134
                             True     1                  1                          0.704243
GunPoint  CNN  5             False    1                  1                          0.546471
                             True     1                  1                          0.560416
               10            False    1                  1                          0.557002

                                                                             target_test_auroc
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                            0.634480
Chinatown CNN  5             False    1                  1                            0.725050
                                                         2                            0.716537
                                                         3                            0.700015
                                      2                  1                            0.720209
                                      3                  1                            0.705578
                                      4                  1                            0.686871
                                      5                  1                            0.683202
                             True     1                  1                            0.714458
                                                         2                            0.713952
                                                         3                            0.711407
                                      2                  1                            0.742341
                                      3                  1                            0.729966
                                      4                  1                            0.706233
                                      5                  1                            0.702160
               10            False    1                  1                            0.729893
                             True     1                  1                            0.733921
               15            False    1                  1                            0.738906
                             True     1                  1                            0.741297
GunPoint  CNN  5             False    1                  1                            0.554695
                             True     1                  1                            0.578285
               10            False    1                  1                            0.584870

In [8]:
df[df["window_time_stride"] == 1][df["window_patt_stride"] == 1].groupby(["dataset", "arch","window_length", "pretrain", 'window_time_stride','window_patt_stride'])[cols].mean()

                                                                             tgt_nepochs  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                          70.6
Chinatown CNN  5             False    1                  1                          77.6
                             True     1                  1                          79.8
               10            False    1                  1                         109.0
                             True     1                  1                          72.0
               15            False    1                  1                         104.4
                             True     1                  1                          88.6
GunPoint  CNN  5             False    1                  1                          86.8
                             True     1                  1                          73.4
               10            False    1                  1                         105.5

                                                                             pre_nepochs  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                           NaN
Chinatown CNN  5             False    1                  1                           NaN
                             True     1                  1                          57.8
               10            False    1                  1                           NaN
                             True     1                  1                          58.4
               15            False    1                  1                           NaN
                             True     1                  1                          57.6
GunPoint  CNN  5             False    1                  1                           NaN
                             True     1                  1                          58.2
               10            False    1                  1                           NaN

                                                                             target_test_acc  \
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                          0.459065
Chinatown CNN  5             False    1                  1                          0.674454
                             True     1                  1                          0.674356
               10            False    1                  1                          0.694309
                             True     1                  1                          0.703799
               15            False    1                  1                          0.717134
                             True     1                  1                          0.704243
GunPoint  CNN  5             False    1                  1                          0.546471
                             True     1                  1                          0.560416
               10            False    1                  1                          0.557002

                                                                             target_test_auroc
dataset   arch window_length pretrain window_time_stride window_patt_stride
CBF       CNN  5             False    1                  1                            0.634480
Chinatown CNN  5             False    1                  1                            0.725050
                             True     1                  1                            0.714458
               10            False    1                  1                            0.729893
                             True     1                  1                            0.733921
               15            False    1                  1                            0.738906
                             True     1                  1                            0.741297
GunPoint  CNN  5             False    1                  1                            0.554695
                             True     1                  1                            0.578285
               10            False    1                  1                            0.584870